<div *ngIf="!yaRegistrado; else registrado">
  <!-- Aquí va el formulario de selección de perfil como cliente o propietario -->
  <h2>Selecciona tu tipo de perfil</h2>

  <label>
    <input type="radio" name="tipo" value="cliente" [(ngModel)]="tipoSeleccionado" />
    Cliente
  </label>
  <label>
    <input type="radio" name="tipo" value="propietario" [(ngModel)]="tipoSeleccionado" />
    Propietario
  </label>

  <form *ngIf="tipoSeleccionado === 'cliente'" (ngSubmit)="enviarPerfil()">
    <!-- Campos cliente -->
    <input [(ngModel)]="cliente.nombre" name="nombre" placeholder="Nombre" required />
    <input [(ngModel)]="cliente.apellido" name="apellido" placeholder="Apellido" required />
    <input [(ngModel)]="cliente.fecha_nacimiento" name="fecha" type="date" placeholder="Nacimiento" required />
    <input [(ngModel)]="cliente.licencia_conducir" name="licencia" placeholder="Licencia" required />
    <input [(ngModel)]="cliente.direccion" name="direccion" placeholder="Direccion" required />
    <input [(ngModel)]="cliente.telefono" name="telefono" placeholder="Teléfono" required />
    <button>Guardar Perfil</button>
  </form>

  <form *ngIf="tipoSeleccionado === 'propietario'" (ngSubmit)="enviarPerfil()">
    <!-- Campos propietario -->
    <input [(ngModel)]="propietario.telefono" name="telefono" placeholder="Teléfono" required />
    <input [(ngModel)]="propietario.direccion" name="direccion" placeholder="Dirección" required />
    <button>Guardar Perfil</button>
  </form>
</div>

<ng-template #registrado>
  <h3>✅ Ya tienes un perfil registrado.</h3>
</ng-template>
