<p-table [value]="listareservas" [tableStyle]="{ 'min-width': '60rem' }">
  <ng-template #caption>
    <div class="flex items-center justify-between">
      <span class="text-xl font-bold">Mis Reservas</span>
    </div>
  </ng-template>

  <ng-template #header>
    <tr>
      <th>Vehículo</th>
      <th>Fecha Inicio</th>
      <th>Fecha Fin</th>
      <th>Precio Total</th>
      <th>Estado</th>
    </tr>
  </ng-template>

  <ng-template #body let-reserva>
    <tr>
      <td>{{ reserva.vehiculo_reserva }}</td>
      <td>{{ reserva.fecha_inicio | date: 'shortDate' }}</td>
      <td>{{ reserva.fecha_fin | date: 'shortDate' }}</td>
      <td>{{ reserva.precio_total | currency: 'USD' }}</td>
      <td>
        <p-tag [value]="reserva.estado" [severity]="getSeverity(reserva.estado)" />
      </td>
    </tr>
  </ng-template>

  <ng-template #footer>
    <tr>
      <td colspan="6">Total: {{ listareservas.length }} reservas</td>
    </tr>
  </ng-template>
</p-table>

<div *ngIf="esPropietario">
  <h3 class="mt-4">Reservas Pendientes por Confirmar</h3>

  <p-table [value]="reservasPendientesPropietario" [tableStyle]="{ 'min-width': '60rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Cliente</th>
        <th>Vehículo</th>
        <th>Fechas</th>
        <th>Precio Total</th>
        <th>Acción</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-reserva>
      <tr>
        <td>{{ reserva.cliente_reserva }}</td>
        <td>{{ reserva.vehiculo_reserva }}</td>
        <td>{{ reserva.fecha_inicio | date: 'shortDate' }} - {{ reserva.fecha_fin | date: 'shortDate' }}</td>
        <td>{{ reserva.precio_total | currency: 'USD' }}</td>
        <td>
          <button pButton label="Confirmar" icon="pi pi-check" (click)="confirmarReserva(reserva.id)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
