<h1>Clientes</h1>
<!-- READ ==> TABLA -->
<p-button label="Nuevo" icon="pi pi-plus" class="mr-2" (onClick)="abrirDialogo()" />
<p-table [value]="listacliente" [tableStyle]="{'min-width': '50rem'}">
    <ng-template #header>
        <tr>
            <th style="width:20%">Usuario</th>
            <th style="width:20%">Nombre</th>
            <th style="width:20%">Apellido</th>
            <th style="width:20%">fecha_nacimiento</th>
            <th style="width:20%">licencia_conducir</th>
            <th style="width:20%">telefono</th>
            <th style="width:20%">reputacion</th>
            <th style="width:20%"></th>
        </tr>
    </ng-template>
    <ng-template #body let-Cliente let-ri="rowIndex">
        <tr>
            <td>
                {{Cliente.cliente_user}}
            </td>          
            <td>
                {{Cliente.nombre}}
            </td>
            <td>
                {{Cliente.apellido}}
            </td>
            <td>
                {{Cliente.fecha_nacimiento}}
            </td>
            <td>
                {{Cliente.licencia_conducir}}
            </td>
            <td>
                {{Cliente.telefono}}
            </td>
            <td>
                {{Cliente.reputacion}}
            </td>
            <!-- DELETE ==> BOTON -->
            <td>
                <div class="flex items-center justify-center gap-2">
                    <button
                        pButton
                        pRipple
                        type="button"
                        icon="pi pi-pencil"
                        (click)="editarCliente(Cliente)"
                        text
                        rounded
                        severity="secondary"
                    ></button>
                    <button
                        pButton
                        pRipple
                        type="button"
                        icon="pi pi-times"
                        (click)="eliminarCliente(Cliente)"
                        text
                        rounded
                        severity="secondary"
                    ></button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>

<!-- CREATE Y UPDATE ==> FORMULARIO -->
 <p-dialog header="{{tituloDialogo}}" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
    <div class="flex items-center gap-4 mb-4">
        <label for="usuario" class="font-semibold w-24">Usuario</label>
        <p-select [options]="listausuarios" [(ngModel)]="tipoSeleccionado" optionLabel="username" placeholder="Username" class="w-full md:w-56" />
    </div>
    <div class="flex items-center gap-4 mb-4">
        <label for="usuario" class="font-semibold w-24">Nombre</label>
        <input pInputText id="usuario" class="flex-auto" autocomplete="off" [(ngModel)]="tipoClienteDialogo.nombre"/>
    </div>
    <div class="flex items-center gap-4 mb-4">
        <label for="usuario" class="font-semibold w-24">Apellido</label>
        <input pInputText id="usuario" class="flex-auto" autocomplete="off" [(ngModel)]="tipoClienteDialogo.apellido"/>
    </div>
    <div class="flex items-center gap-4 mb-4">
        <label for="usuario" class="font-semibold w-24">fecha_nacimiento</label>
        <input pInputText id="usuario" class="flex-auto" autocomplete="off" [(ngModel)]="tipoClienteDialogo.fecha_nacimiento"/>
    </div>
    <div class="flex items-center gap-4 mb-4">
        <label for="usuario" class="font-semibold w-24">Licencia</label>
        <input pInputText id="usuario" class="flex-auto" autocomplete="off" [(ngModel)]="tipoClienteDialogo.licencia_conducir"/>
    </div>
    <div class="flex items-center gap-4 mb-4">
        <label for="usuario" class="font-semibold w-24">Telefono</label>
        <input pInputText id="usuario" class="flex-auto" autocomplete="off" [(ngModel)]="tipoClienteDialogo.telefono"/>
    </div>
    <div class="flex items-center gap-4 mb-4">
        <label for="usuario" class="font-semibold w-24">Reputacion</label>
        <input pInputText id="usuario" class="flex-auto" autocomplete="off" [(ngModel)]="tipoClienteDialogo.reputacion"/>
    </div>
    <div class="flex justify-end gap-2">
        <p-button label="Cancelar" severity="secondary" (click)="visible = false" />
        <p-button label="Guardar" (click)="guardarCliente()" />
    </div>
</p-dialog>
