<h1>Empleado</h1>
<!-- READ ==> TABLA -->
<p-button label="Nuevo" icon="pi pi-plus" class="mr-2" (onClick)="abrirDialogo()" />
<p-table [value]="listacontratos" [tableStyle]="{'min-width': '50rem'}">
    <ng-template #header>
        <tr>
            <th style="width:20%">Reserva</th>
            <th style="width:20%">Fecha_Inicio</th>
            <th style="width:20%">Fecha_fin</th>
            <th style="width:20%">Precio_Total</th>
            <th style="width:20%">Estado</th>
            <th style="width:20%"></th>
        </tr>
    </ng-template>
    <ng-template #body let-contrato let-ri="rowIndex">
        <tr>
            <td>
                {{contrato.contrato_reserva}}
            </td>          
            <td>
                {{contrato.fecha_inicio}}
            </td>
            <td>
                {{contrato.fecha_fin}}
            </td>
            <td>
                {{contrato.precio_total}}
            </td>
            <td>
                {{contrato.estado}}
            </td>
            <!-- DELETE ==> BOTON -->
            <td>
                <div class="flex items-center justify-center gap-2">
                    <button
                        pButton
                        pRipple
                        type="button"
                        icon="pi pi-pencil"
                        (click)="editarContrato(contrato)"
                        text
                        rounded
                        severity="secondary"
                    ></button>
                    <button
                        pButton
                        pRipple
                        type="button"
                        icon="pi pi-times"
                        (click)="eliminarContrato(contrato)"
                        text
                        rounded
                        severity="secondary"
                    ></button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>

<!-- CREATE Y UPDATE ==> FORMULARIO -->
<p-dialog header="{{tituloDialogo}}" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
    <div class="flex items-center gap-4 mb-4">
        <label for="usuario" class="font-semibold w-24">Reserva</label>
        <p-select [options]="listareserva" [(ngModel)]="tipoSeleccionado" optionLabel="cliente_reserva" placeholder="Reserva" class="w-full md:w-56" />
    </div>
    <div class="flex items-center gap-4 mb-4">
        <label for="contrato" class="font-semibold w-24">Fecha Inicio</label>
        <input pInputText id="contrato" class="flex-auto" autocomplete="off" [(ngModel)]="tipoContratoDialogo.fecha_inicio" placeholder="yyyy-mm-dd"/>
    </div>
    <div class="flex items-center gap-4 mb-4">
        <label for="contrato" class="font-semibold w-24">Fecha Fin</label>
        <input pInputText id="contrato" class="flex-auto" autocomplete="off" [(ngModel)]="tipoContratoDialogo.fecha_fin" placeholder="yyyy-mm-dd"/>
    </div>
    <div class="flex items-center gap-4 mb-4">
        <label for="contrato" class="font-semibold w-24">Precio Total</label>
        <input pInputText id="contrato" class="flex-auto" autocomplete="off" [(ngModel)]="tipoContratoDialogo.precio_total"/>
    </div>
    <div class="flex items-center gap-4 mb-4">
        <label for="contrato" class="font-semibold w-24">Estado</label>
        <input pInputText id="contrato" class="flex-auto" autocomplete="off" [(ngModel)]="tipoContratoDialogo.estado"/>
    </div>
    <div class="flex justify-end gap-2">
        <p-button label="Cancelar" severity="secondary" (click)="visible = false" />
        <p-button label="Guardar" (click)="guardarContrato()" />
    </div>
</p-dialog>

