<div class="pagina-detalle" *ngIf="vehiculo">
  <div class="contenido">
    
    <!-- COLUMNA IZQUIERDA -->
    <div class="info-vehiculo">
      <div class="foto-container">
        <img *ngIf="fotoPrincipal" [src]="fotoPrincipal" alt="Foto del vehículo" />
      </div>

      <div class="descripcion">
        <h2>{{ vehiculo.marca }} {{ vehiculo.modelo }} - {{ vehiculo['año'] }}</h2>
        <p><strong>Placa:</strong> {{ vehiculo.placa }}</p>
        <p><strong>Estado:</strong> {{ vehiculo.estado }}</p>
        <p><strong>Descripción:</strong> {{ vehiculo.descripcion }}</p>
      </div>
    </div>

<div class="formulario-contacto">
  <h3>S/ {{ vehiculo.precio_diario }} <span>/día</span></h3>
  
  <div class="grupo-fechas">
    <label>Fecha de inicio:</label>
    <input type="date" [(ngModel)]="fechaInicio" name="fechaInicio" />

    <label>Fecha de fin:</label>
    <input type="date" [(ngModel)]="fechaFin" name="fechaFin" />
  </div>

  <div class="grupo-opcional">
    <label>¿Requiere chofer?</label>
    <input type="checkbox" [(ngModel)]="requiereChofer" name="requiereChofer" />
  </div>

  <div *ngIf="fechaInicio && fechaFin">
    <p><strong>Total estimado: S/ {{ calcularPrecioTotal() }}</strong></p>
  </div>

  <button class="btn-reservar" (click)="reservar()">Reservar</button>
  <p class="texto-secundario">No se hará ningún cargo por el momento</p>
</div>

